$theme-colors: (
    'primary': #0091ea,
    'custom-nav': #eaabb0,
    'custom-blue': #b2d0f1,
    'light-pink': #f5dcdb
);

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
