$theme-colors: (
    'primary': #0091ea,
    'custom-nav': #FF7E9B,
    'custom-blue': #bbd2fd,
    'light-pink': #f5dcdb,
    'custom-yellow': #ffe98e
);

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


@import '../../../node_modules/bootstrap/scss/bootstrap.scss';


@import '../../../node_modules/react-image-lightbox/style.css';

 
